@base-img-url: '/img';
@assets-url: '/assets';
@font-url: '../fonts';

@fontDroid: "DroidSans","Segoe UI", Verdana, Helvetica,Arial,Sans-Serif;

@linkTitleNormal: #333;
@linkNormal: #7ab8d4;
@linkVisited: #9099a7;
@hoverColor: @linkVisited;

@borderColor: #f0f0f0;

.clearFix {
	zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}