@font-face {
  font-family: 'DroidSans';
  src: url('@{font-url}/droidsans/DroidSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'DroidSans';
  src: url('@{font-url}/droidsans/DroidSans.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// http://www.socicon.com/chart.php
@font-face {
  font-family: 'socicon';
  src: url('@{font-url}/socicon/socicon.eot');
  src: url('@{font-url}/socicon/socicon.eot?#iefix') format('embedded-opentype'),
  url('@{font-url}/socicon/socicon.woff') format('woff'),
  url('@{font-url}/socicon/socicon.ttf') format('truetype'),
  url('@{font-url}/socicon/socicon.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

strong {
  font-weight: bold;
}

b {
  font-weight: bold;
}

.socicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'socicon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.socicon:empty {
  width: 1em;
}

.socicon-twitter:before {
  content: "a";
}

.socicon-facebook:before {
  content: "b";
}

.socicon-google:before {
  content: "c";
}

.socicon-pinterest:before {
  content: "d";
}

.socicon-foursquare:before {
  content: "e";
}

.socicon-skype:before {
  content: "g";
}

.socicon-youtube:before {
  content: "r";
}

.socicon-vimeo:before {
  content: "s";
}

.socicon-vine:before {
  content: "u";
}

.socicon-instagram:before {
  content: "x";
}

.socicon-apple:before {
  content: "O";
}

.socicon-github:before {
  content: "Q";
}

.socicon-windows:before {
  content: "Z";
}

.socicon-rss:before {
  content: ",";
}

.socicon-vkontakte:before {
  content: ";";
}

.socicon-mail:before {
  content: "@";
}

.socicon-odnoklassniki:before {
  content: ".";
}

.socicon-android:before {
  content: "_";
}