footer {
  color:#666;
  width: 100%;
  border-top: 1px dashed #ccc;
  padding: 5px 0;
  font-size: 10pt;

  .counters {

	&.informers {
	  width: 100px;
	  height: 50px;
	  margin: 10px;
	}
  }

  .context {
	text-align: center;
  }
}