
.right {
	float: right;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

a {
	color: @linkNormal;
	text-decoration: none;
}

body {
  font-family: @fontDroid;
  font-size: 11pt;
  scroll-behavior: smooth;
}

.wrap > .container {
  margin-top: 51px;
}

.navbar-brand:before {
  content: 'NB';
  font-family: Arial;
  color:#fff;
  font-size: 27px;
  letter-spacing: -8px;
  font-weight: bold;
  padding-right: 10px;
}