.list-news {
  padding-left: 50px;

  article {
    border-bottom: 1px solid @borderColor;
    position: relative;
    margin: 5px 0;

    &.important {
      //background: #FF6600;
    }

    h2 {
      font-size: 16px;

      a {
        color: @linkTitleNormal;

        &:visited {
          color: @linkVisited;
        }

        &:hover {
          color: @hoverColor;
        }
      }
    }

    .desc {
      font-size: 14px;
      font-style: italic;
    }

    .time {
      color: @linkVisited;
      position: absolute;
      left: -50px;
      top: 2px;
      width: 40px;
      text-align: right;
      display: none;
    }

    img.service {
      vertical-align: top;
    }

    .foot {
      margin-bottom: 5px;
      font-size: 12px;

      .res {
        display: inline;
        .img {
          margin: 0 4px;
        }
        .video {
          margin: 0 4px;
        }
      }

      .news-btn {
        cursor: pointer;
        &:hover {
          background-color: #d71b1d;
        }
      }
    }
  }
}

.news-view {
  margin: 10px 0;

  .news-title {
    line-height: 27px;
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 10px;
    padding-left: 30px;
  }

  .news-btn {
    cursor: pointer;
    &:hover {
      background-color: #d71b1d;
    }
  }

  .news-preview {
    text-align: center;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      border: 5px solid #ececec;
    }
  }

  .news-info {
    padding-left: 30px;

    .share-social-list {
      .share-social-item {
        padding: 0;

        &:first-child {
          margin-left: 15px;
        }

        a {
          cursor: pointer;
        }
      }
    }
  }

  .news-gallery {
    margin: 10px 0;
    img {
      height: 100px;
      margin-right: 5px;
    }
  }

  .news-body {
    text-align: justify;
    text-align-last: auto;
    -moz-text-align-last: auto;
    font-size: 16px;

    img.photo {
      width: 100%;
      max-width: 815px;
    }

    p {
      margin-bottom: 10px;
    }

    blockquote {
      font-style: italic;
      box-sizing: border-box;
      margin-right: 20px;
      margin-left: 90px;
      border-radius: 12px;
      color: #555;
    }

    // << 66.ru | start >>

    .pic-without-cite-header {
      font-size: 18px;
      font-weight: bold;
      margin: 35px 0 12px;
    }

    .pic-without-cite-header + p ins {
      font-style: italic;
      display: block;
      margin-bottom: 35px;
      margin-left: 30px;
      text-decoration: none;
    }

    .pic-with-cite {
      margin: 35px 0 20px;

      &:after {
        display: block;
        clear: both;
        content: '';
      }

      &:before {
        display: block;
        clear: both;
        content: '';
      }

      .pic-with-cite-header {
        font-size: 18px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 12px;
        display: block;
      }

      .fo-width-120 {
        float: left;
        overflow: hidden;
        width: 120px;
        margin-bottom: 0;
        margin-left: 20px;
      }

      img {
        float: left;
        border-radius: 100%;
      }

      blockquote {
        position: relative;
        margin-left: 180px;
      }

      // << 66.ru | end >>
    }
  }
}