.navbar-nav {
  a {
	font-size: 13px;
  }


  .navbar-text {
	margin-top:13px;
	a {
	  color: #9d9d9d;
	}

  }

  .username {
	font-size: 13px;
	padding-right: 10px;
  }
}

.auth-wrapper {

  &>a.auth-link {
	display: inline-block;
	padding: 3px 10px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
  }
}
