@base-img-url: '/img';
@assets-url: '/assets';
@font-url: '../fonts';

@fontDroid: "DroidSans","Segoe UI", Verdana, Helvetica,Arial,Sans-Serif;

@linkNormal: #336699;
@hoverColor: #eeeaed;

.clearFix {
	zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}