@font-face {
	font-family: 'DroidSans';
	src: url('@{font-url}/droidsans/plumrg__-webfont.eot');
	src: url('@{font-url}/droidsans/plumrg__-webfont.eot?#iefix') format('embedded-opentype'),
	url('@{font-url}/droidsans/plumrg__-webfont.woff') format('woff'),
	url('@{font-url}/droidsans/plumrg__-webfont.ttf') format('truetype'),
	url('@{font-url}/droidsans/plumrg__-webfont.svg#PlumbRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'DroidSans';
	src: url('@{font-url}/droidsans/plumb___-webfont.eot');
	src: url('@{font-url}/droidsans/plumb___-webfont.eot?#iefix') format('embedded-opentype'),
	url('@{font-url}/droidsans/plumb___-webfont.woff') format('woff'),
	url('@{font-url}/droidsans/plumb___-webfont.ttf') format('truetype'),
	url('@{font-url}/droidsans/plumb___-webfont.svg#PlumbBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

strong {font-weight: bold;}
b {font-weight: bold;}