
.right {
	float: right;
}

.left {
	float: left;
}

.center {
	text-align: center;
}

a {
	color: @linkNormal;
	text-decoration: none;
}

body {
  font-family: @fontDroid;
  font-size: 11pt;
}

.wrap > .container {
  margin-top: 51px;
}