
.news-index{
  .grid-view {
	table {
	  tr {
		td {
		  a.img {
			margin: 0 4px;

			&.main {
			  color:red;
			}
		  }
		}

		&.deleted {
		  td {
			background-color: #ffc5ca;
		  }
		}
	  }
	}
  }
}

.news-view{

  table {
	tr {
	  td {
		img {
		  &.main {
			border: 2px solid red;
		  }
		}
	  }
	}
  }
}


